# This file tells Git which files shouldn't be added to source control

.idea
dist
node_modules
apify_storage
crawlee_storage
storage/datasets
storage/request_queues
SDK_CRAWLER_STATISTICS_0.json
SDK_SESSION_POOL_STATE.json